button {
    padding: 15px 35px;
    border-radius: 65px;
    background-color: #F1F1F1;
    border: none;
    margin-left: auto;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}